@import "@/components/Topology/src/style/selection.css";
:root {
  --base-br: 1.5rem;
  --base-border: 3px solid #3a78db;
}
:root,
html,
body {
	/* max-width: 1280px; */
	margin: 0 auto;
	padding: 2rem;

	font-weight: normal;
	background-color: #141414;
	margin: 0;
	padding: 0;
	color: #fff;
}


/* 
* MEMO: Edge hover&selected style
*/
.x6-edge:hover path:nth-child(2) {
	stroke: #3a78db;
	stroke-width: 2.5px;
}

.x6-edge-selected path:nth-child(2) {
	stroke: #3a78db;
	stroke-width: 2.5px !important;
}

.x6-graph.x6-graph-pannable {
	cursor: default;
}

@keyframes ant-line {
	to {
		stroke-dashoffset: -1000;
	}
}
